html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Handlee', cursive;
    font-size: 14pt;
    background-color: #efefef;
    padding: 10px;
    margin: 0;
}
h1 {
    font-size: 14pt;
    color: #20bcd5;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}
h1 span {
    border: 4px dashed #20bcd5;
    padding: 10px;
}
p {
    padding: 0;
    margin: 0;
}
.img-circle {
    border: 0px solid white;
    border-radius: 70%;
}
.section {
    background-color: rgb(43, 44, 44);
    border-color: #0e0f0f;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}



#header img {
    display: block;
    width: 50px;
    height: 50px;
    margin: auto;
}
#header p {
    font-size: 14pt;
    color: #c0c3c5;
    padding-top: 5px;
    margin: 0;
    font-weight: bold;
    text-align: center;
    font: 1em sans-serif;
}


